langchain
python-dotenv
langchain_community
langchain-text-splitters
langchain-openai
streamlit
langchain_groq
pandas
plotly
faiss-cpu
nltk
cohere
tiktoken
python-dotenv
tqdm
requests
sentence_transformers
numpy
